In [1]:
import numpy as np
import pandas as pd

In [2]:
train_idx_path = '/Users/clayharper/Desktop/Research/Modulation/dataset/train_test_indexes/one_mill_strat/train.npy'
test_idx_path = '/Users/clayharper/Desktop/Research/Modulation/dataset/train_test_indexes/one_mill_strat/test.npy'

In [3]:
train_idxs = np.load(train_idx_path, allow_pickle=True)
test_idxs = np.load(test_idx_path, allow_pickle=True)

In [11]:
train_df = pd.DataFrame(train_idxs)
col = train_df.columns[0]
train_df = train_df.sort_values(by=col)
train_df

              0
15048         0
18510         2
34961         4
29623         7
13478         9
...         ...
998067  2555896
968466  2555897
996889  2555901
981657  2555902
965922  2555903

[999984 rows x 1 columns]

In [19]:
train_df.to_csv('/Users/clayharper/Desktop/Research/amc_with_deep_neural_networks/dataset/train_indexes.csv', index=False, header=False)

In [13]:
test_df = pd.DataFrame(test_idxs)
col = test_df.columns[0]
test_df = test_df.sort_values(by=col)
test_df

               0
35454          1
5439           3
5638           5
11390          6
51274          8
...          ...
1496353  2555888
1546442  2555892
1536829  2555898
1496380  2555899
1523444  2555900

[1555920 rows x 1 columns]

In [20]:
test_df.to_csv('/Users/clayharper/Desktop/Research/amc_with_deep_neural_networks/dataset/test_indexes.csv', index=False, header=False)

In [24]:
train_idxs = pd.read_csv('/Users/clayharper/Desktop/Research/amc_with_deep_neural_networks/dataset/train_indexes.csv', header=None)
train_idxs

              0
0             0
1             2
2             4
3             7
4             9
...         ...
999979  2555896
999980  2555897
999981  2555901
999982  2555902
999983  2555903

[999984 rows x 1 columns]

In [32]:
train_idxs = np.genfromtxt('/Users/clayharper/Desktop/Research/amc_with_deep_neural_networks/dataset/train_indexes.csv', delimiter=',', dtype=np.int)

In [33]:
train_idxs.shape

(999984,)

In [35]:
train_idxs.dtype

dtype('int64')

In [36]:
import random
random.shuffle(train_idxs)

In [37]:
train_idxs

array([1737371, 2317830,  804192, ..., 1313731, 1171526, 1018477])